@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 100px;
}